
.exchange_holder{
  margin-left: -45px;
  margin-top: -4px;
}
#wrapper.toggled #sidebar-wrapper {
    height: 64px;
}

#wrapper.toggled > #sidebar-wrapper > .ul.sidebar-nav{
  height: 65px;
  overflow: hidden;
  }
  #wrapper.toggled {
      padding-left: 250px;
  }
  .menu365_holder {
      width: 250px;
      height: 100vh;
      position: fixed;
      background-color: #262626;
      padding: 0;
      left: 0px;
      top: 0;
      padding-top: 66px;
      border-right: 2px solid #009588;
      border-left: 2px solid #009588;
      overflow: scroll;
  }
#menu365 h4{
      color: #999;
      padding-left: 10px;
}
#tree1 li{
  border-top: 2px solid #009588;
  color: #999;
  text-transform: capitalize;
  padding-right: 0;

}
#preview_email2{
    float: left;
    width: 100%;
    max-height: 75vh;
    min-height: 650px;
    background-color: #eee;
    overflow: scroll;
    border: solid 2px #eee;
    margin-bottom: 10px;
}
#preview_email {
    float: left;
    width: 100%;
    max-height: 75vh;
    min-height: 650px;
    background-color: #fff;
    overflow: scroll;
    border: solid 2px #eee;
    margin-bottom: 10px;
}
#page_title {
    padding-left: 16px !important;
}
/* #new_mail,
#confirmDelete,
#sendEmail,
#upload_new_attachment,
#replyButton,
#forwardButton,
#LinkEmailButton {
    margin: 0 4px 0 0;
} */
.email-links {
    padding: 10px 10px 10px 0px;
}
.email-links_spaces {
    width: 1px;
    height: 20px;
    margin-top: 13px;
    background: #ccc;
    float: left;
}
.email-links_menu{
  margin-left: 150px;
}
button.btn.btn-sm.btn-raised.dropdown-toggle{
    margin: 0 4px 0 -4px;
    padding: 5px 5px;
}

#toAB, #ccAB {
    font-size: 15px;
    padding: 0px;
    height: 30px;
    width: 30px;
    min-width: 0;
    margin-top: 15px;
}

tr.next_time_bar,
tr.next_time_bar:hover {
    background-color: #ccc;
    cursor: default;
}

.next_time_bar_row,
.next_time_bar_row:hover {
    background-color: #ccc;
    cursor: default;
}
