@font-face {
    font-family: 'hive';
    src:    url('../fonts/hive.eot?d76dqp');
    src:    url('../fonts/hive.eot?d76dqp#iefix') format('embedded-opentype'),
        url('../fonts/hive.ttf?d76dqp') format('truetype'),
        url('../fonts/hive.woff?d76dqp') format('woff'),
        url('../fonts/hive.svg?d76dqp#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'hive' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-hive:before {
    content: "\e900";
}
