
html, body {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
}

#wrapper{
	float:left;
	width:100%;
	height:100%;
	padding:0;
	margin:0;
}
/* h1 { font-family: Calibri; font-style: normal; font-variant: normal; font-weight: 100;}
h3 { font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-style: normal; font-variant: normal; font-weight: 700;}
p,li { font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-style: normal; font-variant: normal; font-weight: 400;} */

#main_menu_holder {
	float: left;
	width: calc(100% - 260px);
	margin-left: 10px;
}
#main_menu {
    float: right;
    list-style: none;
		margin: 20px 0 0 0;
		padding: 0;
}
#main_menu > li {
    float: left;
    margin: 0 5px;
}
#main_menu > li > a {
    float: left;
    padding: 8px 8px;
    /* border: solid 1px #3a8bb5; */
    /* background: #4ec3ff; */
    color: #fff;
    color: #3a8bb5;
    border-radius: 4px;
}

#mobile_header{display: none;}
@media (max-width: 1200px) {
#mobile_header{display: block;}
#main_header{display: none;}
  }

.page_spacer {
    width: 100%;
    height: 50px;
}
.page_spacer2 {
    width: 100%;
    height: 10px;
}

.parallax {
	height: auto;
  float: left;
	min-height: 200px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax100 {
  height: 100vh;
}
.parallax50 {
  height: 50vh;
}
.background{
	background-color:#ffffff;
}
.background1{
	background-color:#54c4ff;
}
.background1_5{
	background-color:#54c4ff;
	background-color: rgba(84, 196, 255, 0.73);
	background-color:#54c4ffbb;
}
.background2{
	background-color:#237eab;
}
.background3{
	background-color:#818286;
}
.background4 {
	background-color: #444;
}

.color{color: #ffffff !important;}
.color1{color: #54c4ff;}
.color2{color: #237eab;}
.color3{color: #818286;}
.color4 {color: #444;}

.border{border: solid 2px #ffffff;}
.border1{border: solid 2px #54c4ff;}
.border2{border: solid 2px #237eab;}
.border3{border: solid 2px #818286;}
.border4 {border: solid 2px #444;}

.parallax > div > h2{
	font-size: 40px;
	text-align: center;
	font-weight: 900;
text-shadow: 0px 0px 1px #000, 0px 0px 1px #000, 0px 0px 1px #000;
}
.parallax > div > h3{
	font-size: 30px;
	text-align: center;
	font-weight: 700;
text-shadow: 0px 0px 1px #000, 0px 0px 1px #000, 0px 0px 1px #000;
}

.form-group {
  margin-bottom: 10px;
}
.roundoff{
	border-radius: 4px;
}
.rounding{
	border-radius: 50%;
}

.image_holder{
	position: relative;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.image_holder_text_box{
	width: 100%;
	bottom: 0;
	position: absolute;
	padding: 6px;
	text-align: center;
}
.image_holder_text_box > a{
	color: #fff;
}
.image_holder_text_box > a:hover{
	color: #ccc;
}

.image_link_box:hover > .image_holder > .image_holder_text_box{
  text-decoration: underline;
}
.footer_img {
    max-height: 32px;
}

.job_card_head{
  border-top:1px solid #eee;
  border-left:1px solid #eee;
  border-right:1px solid #eee;
}

.job_card_header{
  position: absolute;
    bottom: 0px;
    /* text-align: center; */
    WIDTH: 100%;
    LEFT: 0;
    padding: 0px 10px;
}

.job_card_body, .job_card_bottom{
  padding:10px;
  border-left:1px solid #eee;
  border-right:1px solid #eee;
}

.job_card_bottom{
  border-bottom:1px solid #eee;
  border-top:1px solid #eee;
}

.job_card_bottom_link{
  margin: 0 auto;
  display: table;
}
