

	body {


    background-image: url('../images/xhivexback.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:right bottom;

	}
	.modal {
	  overflow-y:auto;
	}
	.sidebar-nav li {
        display: inline-block;
        line-height: 20px;
        position: relative;
        width: 100%;
    }

    .sidebar-nav li:before {
            background-color: #337ab7;
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            -webkit-transition: width 0.2s ease-in;
            -moz-transition: width 0.2s ease-in;
            -ms-transition: width 0.2s ease-in;
            -o-transition: width 0.2s ease-in;
            transition: width 0.2s ease-in;
            width: 3px;
            z-index: -1;
     }

        .sidebar-nav li:before {
            background-color: #337ab7;
        }

        .sidebar-nav #groupsmenu li:before{
        	background-color:#fcbc5f;

        }



        .sidebar-nav li:hover:before {
            -webkit-transition: width 0.2s ease-in;
            -moz-transition: width 0.2s ease-in;
            -ms-transition: width 0.2s ease-in;
            -o-transition: width 0.2s ease-in;
            transition: width 0.2s ease-in;
            width: 100%;
        }

        .sidebar-nav li a {
            color: #dddddd;
            display: block;
            padding: 10px 15px 10px 0px;
            text-decoration: none;
        }


/* Toggle Styles */
#leftmenu-other {
			display:none;
		}

#borderleft {
	position: fixed;
	top:0;
	left:0;
	height:100%;
	border-left:3px #337ab7 solid;
}

#sidebar-wrapper {
    z-index: 1010;
    position: fixed;
    left: 250px;
    top:0;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #262626;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 4px;
    line-height: 50px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(244,255,255,0.2);
}


.sidebar-nav #groupsmenu li a:hover{
	background-color:#fcbc5f;

}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

 #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 50px;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 60px;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }

    #logo {
				max-height: 40px;
				margin-left: 70px;
				-webkit-transition: all 0.5s ease;
				-moz-transition: all 0.5s ease;
				-o-transition: all 0.5s ease;
				transition: all 0.5s ease;
				margin-top: 14px;
	}




.menuglyph {
	    font-size: 2em;
}





#topbar {
    border-bottom:#337ab7 2px solid;
    color: #fff;
    position: relative;
    z-index: 1000;
    top: 0;
    position: fixed;
    width: 100%;
    height: 66px;
    left: 0;
    background-color: #EEEEEE;
	/*background-color: #262626;*/
    padding-right:10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.btn-group.pull-right.navrightbtns a {
    color: #000;
}

select#top_menu_company_select{
height: 65px;
padding: 20px 5px;
background-image: none;
vertical-align: middle;
margin: 0;
font-weight: bold;
font-size: 17px;
color: #000;
cursor: pointer;
}
select#top_menu_company_select:hover{
    background-color: rgba(153, 153, 153, 0.2);
}

select#top_menu_company_select_side {
    height: 42px;
    padding: 5px 5px;
    background-image: none;
    vertical-align: middle;
    margin: 0;
    font-weight: bold;
    font-size: 17px;
    color: #999;
    cursor: pointer;
}
select#top_menu_company_select_side:hover{
    background-color: rgba(153, 153, 153, 0.2);
}

#logo {
	max-height: 40px;
	margin-left: 288px;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin-top: 10px;
}

#logo.toggled {
	max-height: 40px;
	margin-left: 70px;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebarTop {
	float:left;
	width: 125px;
	text-align: center;
	padding: 5px;
	border-right: 1px solid #337ab7;
	border-top: 1px solid #337ab7;
	border-bottom: 1px solid #337ab7;
	font-size: 2em;
	color: white;
	line-height: 55px;
    height: 65px;
}

.sidebarTop:hover {
	float:left;
	width: 125px;
	text-align: center;
	padding: 5px;
	border: 1px solid #337ab7;
	font-size: 2em;
	color: white;
	background-color: #337ab7;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
}
#menu-selectbottom {
	display: none;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#menu-toggle.toggled {
	width: 60px;
	border:none;
	border-bottom:1px solid #337ab7;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#menu-selecttop.toggled {
	display:none;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}

#menu-selectbottom.toggled {
	display:inline-block;
	width: 60px;
	border:none;
	border-top:1px solid #337ab7;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.menuglyph {

    position: relative;
}

.toprightmenu {
	width: 150px;
	text-align: right;
	border: 1px red solid;
	color: black;

}

#search {
    max-width: 300px;

    height: 40px;
    position: absolute;
    left:50%;
    top:-20px;
    margin-right: 150px;
}

.navbar-nav > li > a {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 2.5em;
    color: #3d3d3d;
    -webkit-transition: width 0.2s ease-in;
    -moz-transition: width 0.2s ease-in;
    -ms-transition: width 0.2s ease-in;
    -o-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
}

.navbar-nav > li > a:hover {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 2.5em;
    color: #337ab7;
    -webkit-transition: width 0.2s ease-in;
    -moz-transition: width 0.2s ease-in;
    -ms-transition: width 0.2s ease-in;
    -o-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
}



.navrightbtns {
	margin: 0;
}
.navrightbtns a {
    min-height: 64px;
    line-height: 52px!important;
    font-size: 28px!important;
    width: 80px;
    padding: 0px;
}

.navrightbtns i {
	font-size: 32px;
}

.searchGroup {
 padding-bottom: 0px;
    margin: 0px 0 0 0;
}

#rightmenutoggle {
	display: none;
}

#refreshActivity {
		padding: 0px;
		margin:0px;
		color: white;
	}

	.activitypictureholder {
		position: relative;
	}
	.activityicon {
	position: absolute;
    top: 25px;
    left: 22px;
    font-size: 14px;
    color: white;
    opacity: 0.8;
	}

	#refreshCommunication {
		padding: 0px;
		margin:0px;
		color: white;
	}

	#refreshCommunications {
    padding: 0px;
    margin: 0px;
    color: white;
	}
	#addCommunications {

    margin: 0px;
    color: white;

	}

	.nopadding {
		padding:0px;
	}
	.commLink {
				-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
	.commLink:hover {
		background-color: #337ab7;/*0471A6*/
		cursor: pointer;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
		color: white;

	}

	.commpictureholder {
		font-size: 24px;
		width: 100%;
		height:100%;
		text-align:center;
	}
		.least-content {
		color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
	}


	@media(max-width:980px) {

  .rural_logo{
   display: none;
  }

    #wrapper {
        padding-left: 0px;
    }

     #sidebar-wrapper {
        width: 0px!important;
    }
    #logo {
	max-height: 40px;
	margin-left: 10px!important;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
    width: 250px!important;
}

.menuText {
	display:inline-block!important;
	margin-left: 10px!important;
}

#menu-toggle.toggled {
	width: 125px;
	border: 1px solid #337ab7;
	border-bottom:1px solid #337ab7;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#menu-selecttop.toggled {
	width: 125px;
	border: 1px solid #337ab7;
	display:inline-block;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}
#leftmenu-other {
			display:none;
		}

#menu-selectbottom.toggled {
	display:none;

}

#rightmenutoggle {
	display: inline-block;
}

}

.menuText {
	display:inline-block;
	margin-left: 10px!important;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------This is the swiping color for the side menu buttons----------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/
#crmmenu li:before {
	background-color: #337ab7;
}

#topmenu li:before {
	background-color:#337ab7;/*000000*/
}

#productsmenu li:before {
	background-color:#337ab7;/*5070ff*/
}

#rstmenu li:before {
	background-color:#337ab7;/*8CC053*/
}
#salessmenu li:before {
	background-color:#337ab7;/*8CC053*/
}
#adminmenu li:before {
	background-color:#337ab7;/*8CC053*/
}
#dmanmenu li:before {
	background-color:#337ab7;/*8CC053*/
}
#umanmenu li:before {
	background-color:#337ab7;/*8CC053*/
}
#reportsmenu li:before {
	background-color:#337ab7;/*8CC053*/
}
#marketingmenu li:before {
	background-color:#337ab7;/*8CC053*/
}
#hrmenu li:before {
	background-color:#337ab7;/*8CC053*/
}



#page_spacer {
	width: 100%;
	height: 50px;
}

.page_title {
	font-weight: bold;
	font-size: 1.5em;
	    margin-top: 50px;
}

#FRMloader {
	text-align: center;
}


	@media(max-width:780px) {


		.menu-other {
			display:none;
		}

		#leftmenu-other {
			display:inline-block;
		}

		.leftmenutopbuttons {
			    max-width: 33%;

				color: white!important;
		}

		.profileleft {
			width: 100%;
			text-align: center;
		}

		#leftmenu-other {
			border-left: 3px solid #3px solid #337ab7;
		}

}
.rowtarget{
    text-align: center;
}

#H6T{
    font-weight: bold;
    font-size: 15px;
    border-bottom: solid #DDD 2px;
		padding-bottom: 1px;
}

#bbt{
    text-align: center;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

#breadcrumb{
	 color: #337ab7;
     display: inline-block;
     margin: 0px;
}


.xdisabled{
  background: repeating-linear-gradient(
    -45deg,
    #8A99A8,
    #8A99A8 10px,
    #8A99A8 10px,
    #8A99A8 20px
    /*#A2B2C5 10px,
    #A2B2C5 20px*/
    )
}

.xpast{
    background-color: #FAFAFA !important;
}

.fc-unthemed .xpast.xdisabled{
    background-color: #ececec !important;
}

.fc-unthemed .fc-today.xpast{
    background-color: #F0F0F0 !important;
}

.container{
    padding-top: 25px;
    min-height: 250px;
    width: 100%;
}

.footer{
    background-color: rgba(255,255,255,0.8);
    min-width: 100%;
    line-height: 100px;
    position: absolute;

}

.pusher{
    padding-bottom: 100px;
    margin-bottom: 100px;
}

.wrapper{
    min-height: 100%;
    margin-bottom: -60px;
}

.preFooter{
    height: 100px;
    width: 100%;
}

#newsHeader{
	border-bottom: solid #337ab7 1px;
    display: table;
    margin: 0 auto;
    width: 95%;
}

#newsH{
    display: table;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

#newsContent{
border-bottom: solid #337ab7 1px;
width: 95%;
min-height: 348px;
}

#newsReadmore{
    display: table;
    margin: 0 auto;
    font-size: 18px;
}

#nlheight{
	min-height: 400px;
}

#newsContentHome{
    border-bottom: solid #337ab7 1px;
    width: 95%;
    min-height: 160px;
}

.page{
    margin: 0 auto;
    display: table;
}

a.paginate:visited{

}

a.paginate{

}

a.paginate:hover{

}

a{
    color: #337ab7;
}

a:hover{
    color: #337ab7;
}

a:focus{
	color: #337ab7;
}

.btn.btn-raised.btn-primary{
    background-color: #337ab7;
}
.btn.btn-raised:not(.btn-link):hover.btn-primary{
    background-color: #337ab7;
}
.panel.panel-primary > .panel-heading{
    background-color: #337ab7;
}
.btn.btn-raised:not(.btn-link):hover.btn-primary, .input-group-btn .btn.btn-raised:not(.btn-link):hover.btn-primary, .btn-group-raised .input-group-btn .btn:not(.btn-link):hover.btn-primary, .btn.btn-raised:not(.btn-link):focus.btn-primary, .input-group-btn .btn.btn-raised:not(.btn-link):focus.btn-primary,
 .btn-group-raised .input-group-btn .btn:not(.btn-link):focus.btn-primary,  .input-group-btn .btn.btn-raised:not(.btn-link).active.btn-primary, .btn-group-raised .btn:not(.btn-link).active.btn-primary, .btn-group-raised .input-group-btn
.btn:not(.btn-link).active.btn-primary, .btn.btn-raised:not(.btn-link):active.btn-primary, .input-group-btn .btn.btn-raised:not(.btn-link):active.btn-primary, .btn-group-raised .input-group-btn .btn:not(.btn-link):active.btn-primary{
    background-color: #337ab7;
}
.nav-tabs{
    background-color: #337ab7;
}
.success td
{
    /*background-color:rgba(245, 0, 37, 0.3) !important;*/
}

.menu_badge{
position: absolute;
top: 39px;
left: 15;
right: 185px;
padding-left: 3px;
}

.basic_table{
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

.basic_table td, th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.leftboxinput {
    border: solid 1px #d2d2d2 ;
    padding: 8px 28px 10px 30px;
    box-sizing: content-box;
    margin-top: -5px;
    margin-left: -10px;
    margin-right: -11px;
}

.smalld{
    font-size: 70%;
}

.btn-group-holder {
    float: left;
}


.modal-big{
	width: 80%;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#Notifications_box {
    position: absolute;
    z-index: 2000;
    width: calc(100% - 340px);
    min-height: 150px;
    padding: 0 10px;
    background: #fff;
    color: #000;
    top: 65px;
    right: 70px;
    border-radius: 10px;
    border: solid 2px #337ab7;
    overflow: scroll;
    max-height: calc(100vh - 80px);
    display: none;
}

#Notifications_box.headline {
    width: 40%;
    min-width: 400px;
}
#Notifications_box.details {
    width: calc(100% - 340px);
    min-width: 500px;
}

.Notifications_box {
    border-radius: 0px !important;
    min-width: 500px !important;
    overflow-x: hidden !important;
}


.not_box{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}



.badge-info {
background-color: #3a87ad;
}


.badge-error {
  background-color: #b94a48;
}
.badge-error:hover {
  background-color: #953b39;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning:hover {
  background-color: #c67605;
}

.badge-danger {
  background-color: #dc3545;
}
.badge-danger:hover {
  background-color: #dc3545;
}

.badge-success {
  background-color: #468847;
}
.badge-success:hover {
  background-color: #356635;
}
.badge-info {
  background-color: #3a87ad;
 }
.badge-info:hover {
  background-color: #2d6987;
}
.badge-inverse {
  background-color: #333333;
}
.badge-inverse:hover {
  background-color: #1a1a1a;
}



.badge{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


.toBadgeNumber{
    position: absolute !important;
    left: 46px;
    top: 33px !important;
}


.notBadgeNumber{
    position: absolute !important;
    left: 68px;
    top: 33px !important;
}



#Notifications_box > #FRMloader{
  margin-top: 40px;
}
