@font-face {
    font-family: 'DiariaPro';
    src: url('../../../staff-box/fonts/DiariaPro-ExtraBoldItalic.eot');
    src: url('../../../staff-box/fonts/DiariaPro-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../../../staff-box/fonts/DiariaPro-ExtraBoldItalic.woff2') format('woff2'),
        url('../../../staff-box/fonts/DiariaPro-ExtraBoldItalic.woff') format('woff'),
        url('../../../staff-box/fonts/DiariaPro-ExtraBoldItalic.ttf') format('truetype'),
        url('../../../staff-box/fonts/DiariaPro-ExtraBoldItalic.svg#DiariaPro-ExtraBoldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DiariaPro';
    src: url('../../../staff-box/fonts/DiariaPro-Bold.eot');
    src: url('../../../staff-box/fonts/DiariaPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../../staff-box/fonts/DiariaPro-Bold.woff2') format('woff2'),
        url('../../../staff-box/fonts/DiariaPro-Bold.woff') format('woff'),
        url('../../../staff-box/fonts/DiariaPro-Bold.ttf') format('truetype'),
        url('../../../staff-box/fonts/DiariaPro-Bold.svg#DiariaPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DiariaPro';
    src: url('../../../staff-box/fonts/DiariaPro-BoldItalic.eot');
    src: url('../../../staff-box/fonts/DiariaPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../../../staff-box/fonts/DiariaPro-BoldItalic.woff2') format('woff2'),
        url('../../../staff-box/fonts/DiariaPro-BoldItalic.woff') format('woff'),
        url('../../../staff-box/fonts/DiariaPro-BoldItalic.ttf') format('truetype'),
        url('../../../staff-box/fonts/DiariaPro-BoldItalic.svg#DiariaPro-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DiariaPro';
    src: url('../../../staff-box/fonts/DiariaPro-ExtraBold.eot');
    src: url('../../../staff-box/fonts/DiariaPro-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../../../staff-box/fonts/DiariaPro-ExtraBold.woff2') format('woff2'),
        url('../../../staff-box/fonts/DiariaPro-ExtraBold.woff') format('woff'),
        url('../../../staff-box/fonts/DiariaPro-ExtraBold.ttf') format('truetype'),
        url('../../../staff-box/fonts/DiariaPro-ExtraBold.svg#DiariaPro-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DiariaPro';
    src: url('../../../staff-box/fonts/DiariaPro-Light.eot');
    src: url('../../../staff-box/fonts/DiariaPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../../../staff-box/fonts/DiariaPro-Light.woff2') format('woff2'),
        url('../../../staff-box/fonts/DiariaPro-Light.woff') format('woff'),
        url('../../../staff-box/fonts/DiariaPro-Light.ttf') format('truetype'),
        url('../../../staff-box/fonts/DiariaPro-Light.svg#DiariaPro-Light') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DiariaPro';
    src: url('../../../staff-box/fonts/DiariaPro-Italic.eot');
    src: url('../../../staff-box/fonts/DiariaPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('../../../staff-box/fonts/DiariaPro-Italic.woff2') format('woff2'),
        url('../../../staff-box/fonts/DiariaPro-Italic.woff') format('woff'),
        url('../../../staff-box/fonts/DiariaPro-Italic.ttf') format('truetype'),
        url('../../../staff-box/fonts/DiariaPro-Italic.svg#DiariaPro-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DiariaPro';
    src: url('../../../staff-box/fonts/DiariaPro-LightItalic.eot');
    src: url('../../../staff-box/fonts/DiariaPro-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../../../staff-box/fonts/DiariaPro-LightItalic.woff2') format('woff2'),
        url('../../../staff-box/fonts/DiariaPro-LightItalic.woff') format('woff'),
        url('../../../staff-box/fonts/DiariaPro-LightItalic.ttf') format('truetype'),
        url('../../../staff-box/fonts/DiariaPro-LightItalic.svg#DiariaPro-LightItalic') format('svg');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DiariaPro';
    src: url('../../../staff-box/fonts/DiariaPro-MediumItalic.eot');
    src: url('../../../staff-box/fonts/DiariaPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../../../staff-box/fonts/DiariaPro-MediumItalic.woff2') format('woff2'),
        url('../../../staff-box/fonts/DiariaPro-MediumItalic.woff') format('woff'),
        url('../../../staff-box/fonts/DiariaPro-MediumItalic.ttf') format('truetype'),
        url('../../../staff-box/fonts/DiariaPro-MediumItalic.svg#DiariaPro-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DiariaPro';
    src: url('../../../staff-box/fonts/DiariaPro-Medium.eot');
    src: url('../../../staff-box/fonts/DiariaPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../../staff-box/fonts/DiariaPro-Medium.woff2') format('woff2'),
        url('../../../staff-box/fonts/DiariaPro-Medium.woff') format('woff'),
        url('../../../staff-box/fonts/DiariaPro-Medium.ttf') format('truetype'),
        url('../../../staff-box/fonts/DiariaPro-Medium.svg#DiariaPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DiariaPro';
    src: url('../../../staff-box/fonts/DiariaPro-Regular.eot');
    src: url('../../../staff-box/fonts/DiariaPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../../staff-box/fonts/DiariaPro-Regular.woff2') format('woff2'),
        url('../../../staff-box/fonts/DiariaPro-Regular.woff') format('woff'),
        url('../../../staff-box/fonts/DiariaPro-Regular.ttf') format('truetype'),
        url('../../../staff-box/fonts/DiariaPro-Regular.svg#DiariaPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DiariaPro';
    src: url('../../../staff-box/fonts/DiariaPro-SemiBoldItalic.eot');
    src: url('../../../staff-box/fonts/DiariaPro-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../../../staff-box/fonts/DiariaPro-SemiBoldItalic.woff2') format('woff2'),
        url('../../../staff-box/fonts/DiariaPro-SemiBoldItalic.woff') format('woff'),
        url('../../../staff-box/fonts/DiariaPro-SemiBoldItalic.ttf') format('truetype'),
        url('../../../staff-box/fonts/DiariaPro-SemiBoldItalic.svg#DiariaPro-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DiariaPro';
    src: url('../../../staff-box/fonts/DiariaPro-SemiBold.eot');
    src: url('../../../staff-box/fonts/DiariaPro-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../../../staff-box/fonts/DiariaPro-SemiBold.woff2') format('woff2'),
        url('../../../staff-box/fonts/DiariaPro-SemiBold.woff') format('woff'),
        url('../../../staff-box/fonts/DiariaPro-SemiBold.ttf') format('truetype'),
        url('../../../staff-box/fonts/DiariaPro-SemiBold.svg#DiariaPro-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../../../staff-box/fonts/Quicksand-Bold.eot');
    src: url('../../../staff-box/fonts/Quicksand-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../../staff-box/fonts/Quicksand-Bold.woff2') format('woff2'),
        url('../../../staff-box/fonts/Quicksand-Bold.woff') format('woff'),
        url('../../../staff-box/fonts/Quicksand-Bold.ttf') format('truetype'),
        url('../../../staff-box/fonts/Quicksand-Bold.svg#Quicksand-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../../../staff-box/fonts/Quicksand-Light.eot');
    src: url('../../../staff-box/fonts/Quicksand-Light.eot?#iefix') format('embedded-opentype'),
        url('../../../staff-box/fonts/Quicksand-Light.woff2') format('woff2'),
        url('../../../staff-box/fonts/Quicksand-Light.woff') format('woff'),
        url('../../../staff-box/fonts/Quicksand-Light.ttf') format('truetype'),
        url('../../../staff-box/fonts/Quicksand-Light.svg#Quicksand-Light') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../../../staff-box/fonts/Quicksand-Medium.eot');
    src: url('../../../staff-box/fonts/Quicksand-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../../staff-box/fonts/Quicksand-Medium.woff2') format('woff2'),
        url('../../../staff-box/fonts/Quicksand-Medium.woff') format('woff'),
        url('../../../staff-box/fonts/Quicksand-Medium.ttf') format('truetype'),
        url('../../../staff-box/fonts/Quicksand-Medium.svg#Quicksand-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../../../staff-box/fonts/Quicksand-SemiBold.eot');
    src: url('../../../staff-box/fonts/Quicksand-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../../../staff-box/fonts/Quicksand-SemiBold.woff2') format('woff2'),
        url('../../../staff-box/fonts/Quicksand-SemiBold.woff') format('woff'),
        url('../../../staff-box/fonts/Quicksand-SemiBold.ttf') format('truetype'),
        url('../../../staff-box/fonts/Quicksand-SemiBold.svg#Quicksand-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../../../staff-box/fonts/Quicksand-Regular.eot');
    src: url('../../../staff-box/fonts/Quicksand-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../../staff-box/fonts/Quicksand-Regular.woff2') format('woff2'),
        url('../../../staff-box/fonts/Quicksand-Regular.woff') format('woff'),
        url('../../../staff-box/fonts/Quicksand-Regular.ttf') format('truetype'),
        url('../../../staff-box/fonts/Quicksand-Regular.svg#Quicksand-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.fc-unthemed{
    font-family: 'DiariaPro' !important;
}

.th-inner{
    background-color: #F0F0F0;
    font-family: 'DiariaPro' !important;
}

	body {


    background-image: url('../images/xhivexback.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:right bottom;

    background-color:white!important;

    font-family: 'Quicksand' !important;


	}

    .menu_log_out{
        height: 100px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .menu_log_out button{
        background-color:black!important;
        color:white!important;
        border-radius: 10px;
        padding: 10px 50px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .menu_log_out_button{
        background-color:black!important;
        color:white!important;
        border-radius: 20px;
        padding: 10px 50px!important;
        width:100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        max-width: 230px;
    }

	.modal {
	  overflow-y:auto;
	}
	.sidebar-nav li {
        display: inline-block;
        line-height: 20px;
        position: relative;
        width: 100%;
    }

    .sidebar-nav li:before {
            background-color: #337ab7;
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            -webkit-transition: 0.5s ;
            -moz-transition: 0.5s ;
            -ms-transition: 0.5s ;
            -o-transition: 0.5s ;
            transition: 0.5s ;
            width: 3px;
            z-index: -1;
     }

        .sidebar-nav li:before {
            background-color: #337ab7;
        }

        .sidebar-nav #groupsmenu li:before{
        	background-color:#fcbc5f;

        }



        .sidebar-nav li:hover:before {
            /* -webkit-transition: width 0.2s ease-in;
            -moz-transition: width 0.2s ease-in;
            -ms-transition: width 0.2s ease-in;
            -o-transition: width 0.2s ease-in;
            transition: width 0.2s ease-in;
            width: 100%; */
            background-color:#edaac6!important;
        }

        .sidebar-nav li a {
            color: #dddddd;
            display: block;
            /* padding: 15px 15px 15px 0px; */

            padding: 10px 15px 10px 0px;
            text-decoration: none;
        }


/* Toggle Styles */
#leftmenu-other {
			display:none;
		}

#borderleft {
	position: fixed;
	top:0;
	left:0;
	height:100%;
	border-left:3px #fff solid;
}

.menu-area-type img{
    width: 180px; height: auto;
}

.bottom_table_mobile{
    display: none;
}

.hivex-footer{
    width: 100%;
    height: 125px;
    background-color: #f0f0f0;
    display: none;
}

.hivex-footer p{
    text-align: right;
}

.hivex-footer.toggled{
    display: block;
}

.rota_menu_mobile{
    display: none!important;
}

#rota_menu_mobile_table{
    display: none;
}

.admin-menu-dropdown{
    color: #edaac6;
    font-size: 22px;
    float: right;
    margin-top: 12px;
}

#rota_menu_mobile_table.show_table{
    display: table!important;
}

#rota_menu_mobile_table{
 border-collapse: collapse;
 width: 70%;
 margin:0 auto;
}

#rota_menu_mobile_table th {
  /* border: 1px solid #dddddd; */
  text-align: left;
  padding: 8px;
  border:0px;
}


#rota_menu_mobile_table td {
  /* border: 1px solid #dddddd; */
  text-align: left;
  padding: 8px;
  border:0px;
}

.spacer_rota_mobile {
  height: 10px;
}

#rota_menu_mobile_table tr:nth-child(odd) {
  background-color: #f0f0f0;
}

#rota_menu_mobile_table tr:nth-child(even) {
  /* background-color: #f7f7f7; */
}

#rota_menu_mobile_table a{
    color:black!important;
    width: 100%;
display: inline-block;
}

.toBadgeNumber{
    position: absolute !important;
    left: 58%!important;
    top: 50%!important;
    background-color: #edaac6!important;
}

#sidebar-wrapper {
    z-index: 1010;
    position: fixed;
    left: 250px;
    top:0;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    /* border-radius */
     -webkit-border-radius: 0px 25px 25px 0px;
     -moz-border-radius: 0px 25px 25px 0px;
     border-radius: 0px 25px 25px 0px;
    /* box-shadow */
     -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 10px;
     -moz-box-shadow: rgba(0,0,0,0.8) 0 0 10px;
     box-shadow: rgba(0,0,0,0.8) 0 0 10px;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 350px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 4px;
    line-height: 50px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #262626;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(244,255,255,0.2);
}


.sidebar-nav #groupsmenu li a:hover{
	background-color:#fcbc5f;

}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

 #wrapper {
        padding-left: 350px;
        min-height: calc(100vh - 125px);
    }

    #wrapper.toggled {
        padding-left: 0px;
    }

    #sidebar-wrapper {
        width: 350px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0px;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }

    #logo {
				max-height: 40px;
				margin-left: 70px;
				-webkit-transition: all 0.5s ease;
				-moz-transition: all 0.5s ease;
				-o-transition: all 0.5s ease;
				transition: all 0.5s ease;
				margin-top: 14px;
	}




.menuglyph {
	    font-size: 2em;
}





#topbar {
    /* border-bottom:#337ab7 2px solid; */
    color: #fff;
    position: relative;
    z-index: 1000;
    top: 0;
    position: fixed;
    width: 100%;
    height: 66px;
    left: 0;
    background-color: #fff;
	/*background-color: #262626;*/
    padding-right:50px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.btn-group.pull-right.navrightbtns a {
    color: #000;
}

select#top_menu_company_select{
height: 65px;
padding: 20px 5px;
background-image: none;
vertical-align: middle;
margin: 0;
font-weight: bold;
font-size: 17px;
color: #000;
cursor: pointer;
}
select#top_menu_company_select:hover{
    background-color: rgba(153, 153, 153, 0.2);
}

select#top_menu_company_select_side {
    height: 42px;
    padding: 5px 5px;
    background-image: none;
    vertical-align: middle;
    margin: 0;
    font-weight: bold;
    font-size: 17px;
    color: #999;
    cursor: pointer;
}
select#top_menu_company_select_side:hover{
    background-color: rgba(153, 153, 153, 0.2);
}

#logo {
	max-height: 40px;
	margin-left: 388px;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin-top: 10px;
}

#logo.toggled {
	max-height: 40px;
	margin-left: 70px;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebarTop {
	float:left;
	width: 175px;
	text-align: center;
	padding: 5px;
	/* border-right: 1px solid #337ab7;
	border-top: 1px solid #337ab7;
	border-bottom: 1px solid #337ab7; */
	font-size: 2em;
	color: #333333;
	line-height: 55px;
    height: 90px;
}

.sidebarTop:hover {
	/* float:left;
	width: 175px;
	text-align: center;
	padding: 5px;
	border: 1px solid #337ab7;
	font-size: 2em;
	color: white;
	background-color: #337ab7;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer; */
}
#menu-selectbottom {
	display: none;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#menu-toggle.toggled {
	width: 60px;
	border:none;
	border-bottom:1px solid #337ab7;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#menu-selecttop.toggled {
	display:none;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}

#menu-selectbottom.toggled {
	display:inline-block;
	width: 60px;
	border:none;
	border-top:1px solid #337ab7;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.menuglyph {

    position: relative;
}

.toprightmenu {
	width: 150px;
	text-align: right;
	border: 1px red solid;
	color: black;

}

#search {
    max-width: 300px;

    height: 40px;
    position: absolute;
    left:50%;
    top:-20px;
    margin-right: 150px;
}

.navbar-nav > li > a {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 2.5em;
    color: #3d3d3d;
    -webkit-transition: width 0.2s ease-in;
    -moz-transition: width 0.2s ease-in;
    -ms-transition: width 0.2s ease-in;
    -o-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
}

.navbar-nav > li > a:hover {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 2.5em;
    color: #337ab7;
    -webkit-transition: width 0.2s ease-in;
    -moz-transition: width 0.2s ease-in;
    -ms-transition: width 0.2s ease-in;
    -o-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
}



.navrightbtns {
	margin: 0;
}
.navrightbtns a {
    min-height: 64px;
    line-height: 52px!important;
    font-size: 28px!important;
    width: 80px;
    padding: 0px;
}

.navrightbtns i {
	font-size: 32px;
}

.searchGroup {
 padding-bottom: 0px;
    margin: 0px 0 0 0;
}

#rightmenutoggle {
	display: none;
}

#refreshActivity {
		padding: 0px;
		margin:0px;
		color: white;
	}

	.activitypictureholder {
		position: relative;
	}
	.activityicon {
	position: absolute;
    top: 25px;
    left: 22px;
    font-size: 14px;
    color: white;
    opacity: 0.8;
	}

	#refreshCommunication {
		padding: 0px;
		margin:0px;
		color: white;
	}

	#refreshCommunications {
    padding: 0px;
    margin: 0px;
    color: white;
	}
	#addCommunications {

    margin: 0px;
    color: white;

	}

	.nopadding {
		padding:0px;
	}
	.commLink {
				-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
	.commLink:hover {
		background-color: #337ab7;/*0471A6*/
		cursor: pointer;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
		color: white;

	}

	.commpictureholder {
		font-size: 24px;
		width: 100%;
		height:100%;
		text-align:center;
	}
		.least-content {
		color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
	}


	@media(max-width:980px) {

  .rural_logo{
   display: none;
  }

    #wrapper {
        padding-left: 0px;
        min-height: calc(100vh - 150px);
    }

     #sidebar-wrapper {
        width: 0px!important;
    }
    #logo {
	max-height: 40px;
	margin-left: 10px!important;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar-nav{
    width:100%!important;
}

#wrapper.toggled #sidebar-wrapper {
    width: 100%!important;
    border-radius: 0px!important;
}

.menuText {
	display:inline-block!important;
	margin-left: 10px!important;
}



#menu-toggle.toggled {
	width: auto;
	/* border: 1px solid #337ab7;
	border-bottom:1px solid #337ab7;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; */
    border-bottom:0px!important;
}

#menu-selecttop.toggled {
	width: auto;
	/* border: 1px solid #337ab7; */
	display:inline-block;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-bottom:0px!important;
    float:right;
}
#leftmenu-other {
			display:none;
		}

#menu-selectbottom.toggled {
	display:none;

}

#rightmenutoggle {
	display: inline-block;
}

#leftmenu-other a{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.rota_menu_desktop{
    display: none!important;
}

.rota_menu_mobile{
    display: block!important;
}

.dashboard-glyphicon-large {
    font-size: 90px!important;
    padding: 15px!important;
}


.small_dash_icon {
    width: 48%!important;
    max-height: 180px;
    position: relative;
    float: left!important;
    margin: 0px 1%!important;
    margin-top:10px;

}

.dashboard-icon-holder{
    margin-top:20px;
}

.hivex-footer p{
    text-align: center;
    margin-top:10px;
}

.hivex-footer{
    display: block;
    height: 190px;
}

#maintab{
    display: table;
    margin:0 auto;
    margin-bottom: 20px;
    width: 80%;
    max-width: 80%;
}

.maintab{
    display: table;
    margin:0 auto;
    margin-bottom: 20px;
    width: 80%;
    float: none!important;
}

.dashboard-table{
    display: none;
}

.bottom_table_mobile{
    display: table;
}

.bottom_table_desktop{
    display: none;
}

.menu-area-type img{
    width: 150px;
}

.search_table_div{
    width: 100%!important;
    padding: 0px!important;
}

}

@media(max-width:1199px) {
    .small_dash_icon {

        max-width: 380px;
        margin: 0 auto;
        display: table;
        margin-top: 20px;

    }
}

.menuText {
	display:inline-block;
	margin-left: 10px!important;
    font-size: 40px;
    font-weight: 800;
}

.menuTextLeft{
    margin-left:50px!important;
    font-weight: 800;
    font-size: 20px;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------This is the swiping color for the side menu buttons----------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/
#crmmenu li:before {
	background-color: #337ab7;
}

#topmenu li:before {
	/* background-color:#edaac6; */
    background-color:white;
    height: 50%;
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    width:100%;
}

#productsmenu li:before {
	background-color:#337ab7;/*5070ff*/
}

#rstmenu li:before {
	background-color:#337ab7;/*8CC053*/
}
#salessmenu li:before {
	background-color:#337ab7;/*8CC053*/
}
#adminmenu li:before {
	background-color:#337ab7;/*8CC053*/
}
#dmanmenu li:before {
	background-color:#337ab7;/*8CC053*/
}
#umanmenu li:before {
	background-color:#337ab7;/*8CC053*/
}
#reportsmenu li:before {
	background-color:#337ab7;/*8CC053*/
}
#marketingmenu li:before {
	background-color:#337ab7;/*8CC053*/
}
#hrmenu li:before {
	background-color:#337ab7;/*8CC053*/
}



#page_spacer {
	width: 100%;
	height: 50px;
}

.page_title {
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 50px;
    margin-bottom: 20px;
    border-bottom: 3px solid black;
    padding-bottom: 20px;
}

#FRMloader {
	text-align: center;
}


	@media(max-width:780px) {

        .page_title .menuText{
            font-size: 30px;
        }

		.menu-other {
			display:none;
		}

		#leftmenu-other {
			display:inline-block;
		}

		.leftmenutopbuttons {
			    max-width: 33%;

				color: white!important;
		}

		.profileleft {
			width: 100%;
			text-align: center;
		}

		#leftmenu-other {
			border-left: 3px solid #3px solid #337ab7;
		}

}
.rowtarget{
    text-align: center;
}

#H6T{
    font-weight: bold;
    font-size: 15px;
    border-bottom: solid #DDD 2px;
		padding-bottom: 1px;
}

#bbt{
    text-align: center;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

#breadcrumb{
	 color: #337ab7;
     display: inline-block;
     margin: 0px;
}


.xdisabled{
  background: repeating-linear-gradient(
    -45deg,
    #8A99A8,
    #8A99A8 10px,
    #8A99A8 10px,
    #8A99A8 20px
    /*#A2B2C5 10px,
    #A2B2C5 20px*/
    )
}

.xpast{
    background-color: #FAFAFA !important;
}

.fc-unthemed .xpast.xdisabled{
    background-color: #ececec !important;
}

.fc-unthemed .fc-today.xpast{
    background-color: #F0F0F0 !important;
}

.container{
    padding-top: 25px;
    min-height: 250px;
    width: 100%;
}

.footer{
    background-color: rgba(255,255,255,0.8);
    min-width: 100%;
    line-height: 100px;
    position: absolute;

}

.pusher{
    padding-bottom: 100px;
    margin-bottom: 100px;
}

.wrapper{
    min-height: 100%;
    margin-bottom: -60px;
}

.preFooter{
    height: 100px;
    width: 100%;
}

#newsHeader{
	border-bottom: solid #337ab7 1px;
    display: table;
    margin: 0 auto;
    width: 95%;
}

#newsH{
    display: table;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

#newsContent{
border-bottom: solid #337ab7 1px;
width: 95%;
min-height: 348px;
}

#newsReadmore{
    display: table;
    margin: 0 auto;
    font-size: 18px;
}

#nlheight{
	min-height: 400px;
}

#newsContentHome{
    border-bottom: solid #337ab7 1px;
    width: 95%;
    min-height: 160px;
}

.page{
    margin: 0 auto;
    display: table;
}

a.paginate:visited{

}

a.paginate{

}

a.paginate:hover{

}

a{
    color: #edaac6;
}

a:hover{
    color: #edaac6;
}

a:focus{
	color: #edaac6;
}

.btn.btn-raised.btn-primary{
    background-color: #337ab7;
}
.btn.btn-raised:not(.btn-link):hover.btn-primary{
    background-color: #337ab7;
}
.panel.panel-primary > .panel-heading{
    background-color: #337ab7;
}
.btn.btn-raised:not(.btn-link):hover.btn-primary, .input-group-btn .btn.btn-raised:not(.btn-link):hover.btn-primary, .btn-group-raised .input-group-btn .btn:not(.btn-link):hover.btn-primary, .btn.btn-raised:not(.btn-link):focus.btn-primary, .input-group-btn .btn.btn-raised:not(.btn-link):focus.btn-primary,
 .btn-group-raised .input-group-btn .btn:not(.btn-link):focus.btn-primary,  .input-group-btn .btn.btn-raised:not(.btn-link).active.btn-primary, .btn-group-raised .btn:not(.btn-link).active.btn-primary, .btn-group-raised .input-group-btn
.btn:not(.btn-link).active.btn-primary, .btn.btn-raised:not(.btn-link):active.btn-primary, .input-group-btn .btn.btn-raised:not(.btn-link):active.btn-primary, .btn-group-raised .input-group-btn .btn:not(.btn-link):active.btn-primary{
    background-color: #337ab7;
}
.nav-tabs{
    background-color: #337ab7;
}
.success td
{
    /*background-color:rgba(245, 0, 37, 0.3) !important;*/
}

.menu_badge{
position: absolute;
top: 39px;
left: 15;
right: 185px;
padding-left: 3px;
}

.basic_table{
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

.basic_table td, th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.leftboxinput {
    border: solid 1px #d2d2d2 ;
    padding: 8px 28px 10px 30px;
    box-sizing: content-box;
    margin-top: -5px;
    margin-left: -10px;
    margin-right: -11px;
}

.smalld{
    font-size: 70%;
}

.btn-group-holder {
    float: left;
}


.modal-big{
	width: 80%;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#Notifications_box {
    position: absolute;
    z-index: 2000;
    width: calc(100% - 340px);
    min-height: 150px;
    padding: 0 10px;
    background: #fff;
    color: #000;
    /* top: 65px;
    right: 70px; */

    top: 4px;
    right: 320px;

    border-radius: 10px;
    /* border: solid 2px #edaac6; */
    overflow: scroll;
    max-height: calc(100vh - 80px);
    display: none;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

#Notifications_box.headline {
    width: 40%;
    min-width: 400px;
}
#Notifications_box.details {
    width: calc(100% - 340px);
    min-width: 500px;
}

.Notifications_box {
    border-radius: 0px !important;
    min-width: 500px !important;
    overflow-x: hidden !important;
}


.not_box{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}



.badge-info {
background-color: #3a87ad;
}


.badge-error {
  background-color: #b94a48;
}
.badge-error:hover {
  background-color: #953b39;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning:hover {
  background-color: #c67605;
}

.badge-danger {
  background-color: #dc3545;
}
.badge-danger:hover {
  background-color: #dc3545;
}

.badge-success {
  background-color: #468847;
}
.badge-success:hover {
  background-color: #356635;
}
.badge-info {
  background-color: #3a87ad;
 }
.badge-info:hover {
  background-color: #2d6987;
}
.badge-inverse {
  background-color: #333333;
}
.badge-inverse:hover {
  background-color: #1a1a1a;
}



.badge{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


.toBadgeNumber{

}


.notBadgeNumber{
    position: absolute !important;
    left: 68px;
    top: 33px !important;
}



#Notifications_box > #FRMloader{
  margin-top: 40px;
}

.menu-icon-area{
    width:56px;
    height:56px;
    background-color:black;
    border-radius: 28px;
}

.page-title-glyph{
    color: white;
    width: 56px;
    height: 56px;
    border-radius: 28px;
}

.page-title-glyph:before{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
}





.menu-icon-area-icons{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


.rota_background{
    background-color:#edaac6!important;
    color:white!important;
}

.lxp_background{
    background-color:#5e4292!important;
    color:white!important;
}

.hr_backgorund{
    background-color:#46bbc7!important;
    color:white!important;
}

.goven_background{
    background-color:#f5a11c!important;
    color:white!important;
}

.black_background{
	background-color:black;
	color:white;
}

.grey_background{
    background-color:#eee;
}

.main_button{
    border-radius:30px;
    padding: 8px 30px;
    color: black!important;
    font-family: 'DiariaPro' !important;
    font-weight: normal;
}

.modal-content {
    border-radius:22px;
}

.btn-black{
    background-color:black!important;
    color:white!important;
}

.btn-teal{
    background-color:#46bbc7!important;
    color:white!important;
}

.btn-pink{
    background-color: #edaac6!important;
    color:white!important;
}

.btn-profile{
    background-color: white!important;

}

.text-pink{
    color:#edaac6!important;
}

.dashboard_icons{
    border-radius: 20px;
    text-align:center;
}

.main_dash_icon{
    width:100%; min-height:200px; margin:0 auto; display:table;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}

.small_dash_icon{
    width:100%; max-height:180px;
    position:relative;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}

.dashboard_icon_inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: inherit;
        width: 100%;
}

.dashboard_number{
        font-size: 40px;
}

.dashboard_text{
    font-weight: 500;
    font-size: 15px;
}

.dashboard-glyphicon{
    font-size:50px;
}

.dashboard-glyphicon-large{
    font-size: 110px;
    border: 12px solid white;
    border-radius: 110px;
    padding: 30px;
    margin-bottom: 15px;
}


.fc-button {
    background-color: #edaac6!important;
    background-image:none!important;
    color: black!important;
    box-shadow: none!important;
    border:none!important;
}

.fc-state-default.fc-corner-right {
    border-top-right-radius: 15px!important;
    border-bottom-right-radius: 15px!important;
}

.fc-state-default.fc-corner-left {
    border-top-left-radius: 15px!important;
    border-bottom-left-radius: 15px!important;
}

.menu_image_animate{
	transition: transform .7s ease-in-out;
}

.menu_image_animate:hover{
    transform: rotate(360deg);
}

.page_title .menuText{
    /* position: absolute; */

}

.btn{
    text-transform:none!important;
}

.fc-center h2{
    font-family: 'Quicksand' !important;
        font-weight: 600;
}

.pagination>li>a {
  background-color: white;
  border-color: #edaac6!important;
  color: black;
}

.pagination>li.active>a {
  background-color: #edaac6 !important;
  border-color: #edaac6!important;
  color: black!important;
}


.xero_link_list li {
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal !important;
}
